  .account-sidebar {
    width: 300px;
      flex-shrink: 0; /* prevent shrink */
  }

  /* Sidebar behavior on mobile */
  @media (max-width: 767.98px) {
    .account-sidebar {
      width: 100%;
    }

    .account-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1049;
    }
  }

  .sidebar-item {
    border: 1px solid transparent;
  }

  .sidebar-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
