.category-card {
    width: 15rem;
    height: 20rem;
}

.container-category {
    gap: 1.2rem;
}

@media (max-width: 576px) {
    .category-card {
        width: 11rem;
        height: 15rem;
    }

    .category-card img {
        height: 12em !important;
    }

    .container-category {
        gap: .500rem;
    }
}