.fullwidth-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 16rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  z-index: 1050;
}

@media (max-width: 768px) {
  .fullwidth-dropdown {
    min-height: 0;
  }
}

.fullwidth-dropdown.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fullwidth-dropdown.slide-down {
  animation: slideDown 0.3s forwards;
}

.fullwidth-dropdown a:hover {
  text-decoration: underline !important;
}