/* .card {
  border-radius: 8px;
}
.table-responsive {
  overflow-x: auto;
}
.poster-view img {
  border-radius: 4px;
}
.modal-dialog {
  max-width: 600px;
} */

/* need to check if these css already in another account layout css */