* {
  font-family: 'Questrial', sans-serif;
}

/* Base font size for desktop */
html {
  font-size: 16px;
}

/* Smaller font size for mobile */
@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-item {
  border: 1px solid transparent;
}

.sidebar-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}